[Unit]
Description=Create virtual AP interface uap0 over wlan0
# Wait for wlan0 to exist, run before hostapd
After=sys-subsystem-net-devices-wlan0.device
Before=hostapd.service
Wants=sys-subsystem-net-devices-wlan0.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/iw dev {{ uplink_interface }} interface add {{ ap_interface }} type __ap
ExecStartPost=/sbin/ip link set {{ ap_interface }} address 02:00:00:00:00:01
ExecStop=/sbin/iw dev {{ ap_interface }} del

[Install]
WantedBy=multi-user.target
